@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbarLogo {
    font-size: 25px;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fcfcfc;
    font-size: 20px;
    padding: 0.5rem;
}

.primor {
    width: 10%;
}

li {
    list-style-type: none;
}

.containerTop {
    display: flex;
    background-color: #ce1a14;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}

.image1 {
    width: 40%;
}

.image2 {
    width: 40%;
    height: 70vh;
    padding: 5rem;
}

.image3 {
    margin-top: 15rem;
    width: 30%;
    height: 30%;
    margin-right: 10rem;
}

.containerTopContent {
    font-size: 3rem;
    text-align: center;
    color: #fcfcfc;
    margin-right: 10rem;
}

.containerTopButton {
    margin-top: 2rem;
    background-color: #ffffff;
    border-style: none;
    padding: 0.1rem 3.5rem;
    border-radius: 1.5rem;
    font-size: 1.9rem;
    font-weight: bold;
    color: #0184bc;
    cursor: pointer;
}

.containerMid {
    font-size: 20px;
    display: flex;
    background-color: #edd415;
    justify-content: space-around;
    height: 100vh;
    text-align: center;
    color: #fff;
}

.imageinsta {
    margin-top: 6rem;
    margin-left: 0rem;
    margin-bottom: 1rem;
}

.imagezap {
    margin-top: 6rem;
    margin-left: 1rem;
    margin-bottom: 10rem;
}

.imagetelefonin {
    margin-top: 6rem;
    margin-bottom: 1rem;
    width: 15%;
}

.containerMidContent {
    justify-content: center;
    align-items: center;
}

.containerMidBottom {
    font-size: 25px;
    display: flex;
    background-color: #43171b;
    justify-content: space-around;
    height: 95vh;
    text-align: center;
    color: #fff;
}

.containerMidBottomContent {
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    text-align: justify;
    padding: 0 10rem;
}
